@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/*  custom properties (propiedades personalizadas) */

:root {
    /* FONT variable se define siempre comienza con -- */
    --color: black;
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-size: 14px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* COLORS */
    --primary-dark-blue-intro: hsl(217, 28%, 15%);
    --primary-dark-blue-main: hsl(218, 28%, 13%);
    --primary-dark-blue-footer: hsl(216, 53%, 9%);
    --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-light-red: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
}

/* RESETs */

* {
    /* aplica a todos los elementos */ 
    /* color:blue; */
    /* border: 1px solid red;  */
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: var(--font-size);
}

body {
    background-color: var(--primary-dark-blue-intro);
    color: var(--neutral-white);

    position:relative;
}

a {
    color: inherit;  /* inherrit = hereda del padre la caracteristica */
    text-decoration: none;  /* subrayado de los enlaces */ 
}

a:hover {
    /* cuando ponemos el puntero sobre la etiqueta*/
    color:white;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;

}

img {
    /* TODO: RWD para imagenes */
    max-width: 100%;
    height: auto;

}

.wrapper {
    /* width: 1440px; */
    /* TODO: Adaptar el ancho de la pagina a disposiivos moviles */
    width: min(100% - 3rem, 1440px);

}

.header {
    /* border: 1px solid green; */
    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
 
    margin-top: 3rem;  /* 1 rem 14 px*/
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
 }

 .header__logo {
    width: 176px;
 }

.header__nav {
    /* border: 1px solid yellow; */
    list-style: none;  /* anulas las viñetas */ 
    padding:10px;
    margin:10px;

    display:flex;   /* displayar en filas */
    gap: 3rem;   /* espacio entre flex 1rem = 14px (html)*/
}

.hero {
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

    padding-top: 3rem;
    padding-bottom: 12rem;

    /* background: url(../images/bg-curvy-desktop.svg); */
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color:var(--primary-dark-blue-intro); */ /* le pone color al fondo*/
    background-size: contain;  /* adapta el tamaño de la imagen a todo el espacio disponible */
}

.hero__image {

}

@media (max-width : 768px) {
    .hero {
        background-image: url(../images/bg-curvy-mobile.svg);
    }
}

.hero__title {
    /* width: 720px; */
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;

    text-align: center;
}

.hero__text {
    /* width: 720px; */
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-secondary);
    font-size:1.2rem;
    padding:0 7rem;

    text-align: center;
}

/*
576px   pantallas pequeñas (celulares)
768px   pantallamas 
992px
1200px 
*/

@media (min-width: 768px) {
    .hero__text {
        padding: 0;
    }
}

.hero__button {
    background-color: rgb(214, 214, 214);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border:none;
    border-radius:7rem;
    padding: 1.5rem;
    min-width: 220px;
    color:var(--neutral-white);
    background: 
        linear-gradient(
            90deg,
            var(--accent-cyan) 0%,
            var(--accent-blue) 35%
        )
    ;
    transition: all 1s ease;
}

.hero__button:hover {
    
    background: linear-gradient(
        90deg,
        var(--accent-cyan) 350%,
        var(--accent-blue) 100%
    );
    /* background-color:var(--accent-cyan); */
    cursor: pointer;
    /* transition: ease-in-out; */
}

.features {
    border: 1px solid rgb(0, 17, 255); 
    
    display:grid;
    grid-template-columns: 340px 340px;
    justify-content: center;
    gap:5rem;
    background-color: var(--primary-dark-blue-main);

}

@media (max-width: 768px) {
    .features {
        grid-template-columns: 340px;
    }
}

.feature {
    /* border: 1px solid red; */
    
    /* text-align: center; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* separacion entre cada elemento de la caja, en este caso ahi tres elementos */
    gap:1rem; 
}

.feature__title {
    /* border: 1px solid yellow; */

    font-family: var(--font-primary);
    /* margin-top:1.3rem; */
    
}

.feature__text {
    /* border: 1px solid green; */
    font-family:var(--font-secondary);
    text-align: center;
    /* margin-top:1rem; */

}

.collaboration {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    background-color: var(--primary-dark-blue-main);
    padding-top:8rem;
}

@media (max-width: 768px) {
    .collaboration {
        flex-direction: column;
    }
}

.how_works {
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:min(100% - 3rem, 30rem);
}

.how_works__title {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
}

.how_works__text {
    /* color:green;  */
    font-family: var(--font-secondary);

}

.how_works__button {
    font-family: var(--font-secondary);
    color: var(--accent-cyan);
    
    display:flex;
    align-items:center;
    gap: 0.5rem;

    border-bottom: 1px solid var(--accent-cyan);
    /* margin-right: auto; */
    width: 10.8rem;
    padding-bottom: 0.5rem;  /* 0.5rem = 7px */

}

.how_works__button:hover {
    color:var(--neutral-white);
    font-weight: var(--font-weight-regular);
    /* text-decoration: none; */
    border-bottom: 1px solid var(--font-weight-regular);

}

.how_works__button:hover svg circle {
    fill:white;

}

.testimonials {
    background-color: var(--primary-dark-blue-main);
    display: flex;
    gap:2rem;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 18rem;
}

@media (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
}

.testimonial {
    background-color: var(--primary-dark-blue-testimonials);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    font-family: var(--font-primary);
    border-radius: 0.5rem;
    border:7px solid rgba(131,131,131,0.096);
    width:min(100% - 3rem, 21rem);
}

.testimonial__text {
    margin-bottom: 2rem;
    line-height: 1.5; /* espaciado entre lineas */
    /* width:min(100% - 3rem, 21rem); */

}

.testimonial__profile {
    display:flex;
    gap:.5rem;
    font-size: .8rem;
}

.testimonial__profile img {
    border-radius:50px;   /* 50% */
}

.testimonial__profile h4 {
    font-weight: var(--font-weight-bold);
}

.testimonial__profile h5 {
    font-size: .8rem;
    font-weight: var(--font-weight-regular);
}

.early-access{      /* border: 1px solid red; */
    
    font-family:var(--font-primary);
    width:min(100% - 3rem, 53rem);
    padding: 2rem;
        
    background-color: var(--primary-dark-blue-testimonials);
    border-radius:1rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;

    /* poner la caja encima del texto y en medio*/
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);

    box-shadow: 5px 5px 10px var(--primary-dark-blue-intro);
}

.early-access h2 {
    font-size: 2rem;
}

.early-access p {
    text-align: center;
}

.early-access form {
    display: flex;
    gap:2rem;
}

@media (max-width: 768px) {    
    .early-access form {
        flex-direction: column;
    }
}

.early-access input[type=text] {
    /* background-color: green; */
    border-radius:1.5rem;
    border:none;
    padding: 1rem 2rem;
    width: min(100%, 30rem);
}

.early-access input[type=submit] {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border:none;
    border-radius:7rem;
    padding: 1rem 1.5rem;
    min-width: 220px;
    color:var(--neutral-white);
    background: 
        linear-gradient(
            90deg,
            var(--accent-cyan) 0%,
            var(--accent-blue) 35%
        )
    ;
    
}

.early-access input:hover {
    
    background: linear-gradient(
        90deg,
        var(--accent-cyan) 350%,
        var(--accent-blue) 100%
    );
    /* background-color:var(--accent-cyan); */
    cursor: pointer;
    /* transition: ease-in-out; */
}

.footer {
    font-family:var(--font-primary);
    background-color:var(--primary-dark-blue-footer);
    padding: 15rem 0 5rem 0;

    position: relative;
}

.footer--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width:76rem;
    margin:0 auto; /* centra con margenes iguales a la casilla */
    width: min(100% - 3rem, 76rem);;
}

.footer-info {  /*  border: 1px solid yellow; */
    display:flex;
    gap:2rem;

    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }
}
.footer-info__description {         /* width: 22rem; */        /* display:flex; */
        align-items: flex-start;
        gap:1.5rem;
}

.footer-info__contact{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}

.footer-info__contact span {
    display:flex;
    gap:1rem;
}
.footer-info__links {
    display:flex;
    flex-direction: column;
    gap:1rem;
    
}

.top {
    position: absolute;
    bottom:14px;
    right:14px;
    background-color: #333;
    padding: 1rem;
}

/*
https://github.com/victorvzn/bootcamp-frontend-g16
*/