@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Montserrat+Alternates:wght@100&family=Roboto:wght@100;300;400;500;700&display=swap');
/*
### Font

- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700
*/

body {
    background-color: hsl(234, 29%, 20%);
    font-size:16px;

}

.flex-container {
    border: 1px solid black;
    background: whitesmoke;
    padding: 10px 10px;
    display:flex;
    border-radius:40px;
    width:50%;
    /*height: 160px;*/
    /* margin: 0 auto; */ 
    align-items:center;
    justify-content:center;
}

.caja {
  align-items:center;
  justify-content:center;

}

h1 {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
}


p {
    color:black;
    font-weight:500;
    line-height:1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto1 {
    color:rgb(7, 20, 214);
    font-weight:500;
    line-height:1.5;
    font-family:'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-container input {
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing:border-box;
    border-radius:12px;
    border:2px solid black;
    height:60px;
  }

  .flex-container button {
    width:100%;
    padding:12px 28px;
    font-size:120%;
    border-radius:10px;
    background-color:orangered;
    color:white; 
    height:60px;
    font-weight:bold;
  }

  .flex-container button:hover {
    background-color:#db821b; 
    color:white;
    font-weight:bold;
  }

  .flex-container ul {
    color:green;
    list-style-image: url("./images/imagefiles_check_sign_icon_orange.png");
    font-size:large    
  }