


.header {
    /* border: 1px solid green; */
    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
 
    margin-top: 3rem;  /* 1 rem 14 px*/
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
 }

 .header__logo {
    width: 176px;
 }

.header__nav {
    /* border: 1px solid yellow; */
    list-style: none;  /* anulas las viñetas */ 
    padding:10px;
    margin:10px;

    display:flex;   /* displayar en filas */
    gap: 3rem;   /* espacio entre flex 1rem = 14px (html)*/
}