
.hero {
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

    padding-top: 3rem;
    padding-bottom: 12rem;

    /* background: url(../images/bg-curvy-desktop.svg); */
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color:var(--primary-dark-blue-intro); */ /* le pone color al fondo*/
    background-size: contain;  /* adapta el tamaño de la imagen a todo el espacio disponible */
}

.hero__image {

}

@media (max-width : 768px) {
    .hero {
        background-image: url(../images/bg-curvy-mobile.svg);
    }
}

.hero__title {
    /* width: 720px; */
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;

    text-align: center;
}

.hero__text {
    /* width: 720px; */
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-secondary);
    font-size:1.2rem;
    padding:0 7rem;

    text-align: center;
}

/*
576px   pantallas pequeñas (celulares)
768px   pantallamas 
992px
1200px 
*/

@media (min-width: 768px) {
    .hero__text {
        padding: 0;
    }
}

.hero__button {
    background-color: rgb(214, 214, 214);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border:none;
    border-radius:7rem;
    padding: 1.5rem;
    min-width: 220px;
    color:var(--neutral-white);
    background: 
        linear-gradient(
            90deg,
            var(--accent-cyan) 0%,
            var(--accent-blue) 35%
        )
    ;
    transition: all 1s ease;
}

.hero__button:hover {
    
    background: linear-gradient(
        90deg,
        var(--accent-cyan) 350%,
        var(--accent-blue) 100%
    );
    /* background-color:var(--accent-cyan); */
    cursor: pointer;
    /* transition: ease-in-out; */
}
